<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="downloadByTicketUrl" class="java.lang.String">
		<constructor-arg value="https://www.preproduccio.iarxiu.eacat.cat/core/servlet/downloadByTicket" />
	</bean>
	<bean id="uploadUrl" class="java.lang.String">
		<constructor-arg value="https://www.preproduccio.iarxiu.eacat.cat/core/servlet/upload" />
	</bean>

	<bean id="proxyClient" class="net.catcert.iarxiu.client.proxy.ProxyClient">
		<property name="defaultUri" value="https://www.preproduccio.iarxiu.eacat.cat/core/soap/"/>
		<property name="interceptors">
			<list>
				<ref bean="samlInterceptor"/>
				<ref bean="wssInterceptor"/>
			</list>
		</property>
	</bean>

	<bean id="samlInterceptor" class="net.catcert.iarxiu.client.handler.SamlInterceptor"/>

	<bean id="wssInterceptor" class="org.springframework.ws.soap.security.wss4j.Wss4jSecurityInterceptor">
		<property name="securementActions" value="Signature Timestamp"/>
		<property name="securementUsername" value="Sistema o aplicació de prova"/>
		<property name="securementPassword" value="1234"/>
		<property name="securementSignatureCrypto" ref="crypto"/>
		<property name="securementSignatureKeyIdentifier" value="DirectReference"/>
		<property name="securementSignatureParts">
			<value>{}{http://schemas.xmlsoap.org/soap/envelope/}Body;{}{http://soap.iarxiu/headers}Context;</value>
		</property>
	</bean>

	<bean id="crypto" class="org.springframework.ws.soap.security.wss4j.support.CryptoFactoryBean">
		<property name="keyStoreType" value="pkcs12"/>
		<property name="keyStoreLocation" value="classpath:stores/preproduccio/CDA-1_00.p12"/>
		<property name="keyStorePassword" value="1234"/>
	</bean>

</beans>